body{
    margin: 0px;
    display: flex; 
    justify-content: center;
    background-color: #f9f3ff;
    /* width: 1024px;
height: 3000px; */


}

#main-container {
background-color: #EFE0FF;
width: 1024px;
height: 3000px;
border: solid 1px black;
display: flex;
justify-content: center;

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
display: flex;
/* flex-direction: row; */
background-color: #FDFAFF;
width: 900px;
height: 50px;
justify-content: space-between;
list-style-type: none;
border: solid 4px #DBB5FF;
top: 10px;
font-family: 'kefa';
font-size: 36px;

}

li{
    font-family: 'kefa';
    font-size: 36px;
    color: #6F3D89;
    /* padding: 20px;  */
    /* border: solid 4px #DBB5FF; */
}



#box1 {
    display: flex;
    justify-content: center; 
    /* flex-direction: column; */
    width: 927px;
    height: 81px;
    background-color: #DBB5FF;
    border: #6F3D89;
    
}

#directs {
    display: grid;
    grid-template-columns: [first] 1050px;
    grid-template-rows: [first] 200px [Line2] 81px;
    padding-left: 100px;
}