body{
    margin: 0px;
    display: flex; 
    justify-content: center;
    background-color: #EFE0FF;
}

#main-container {
background-color: #EFE0FF;
width: 1024px;
height: 3000px;
border: solid 1px black;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
